body { 
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
}

main {
    background-color: #2148C0;
    background-image: url(../img/BG.svg);
    background-position: center center;
    background-size: cover;
}
.input-group-user , .input-group-password {
    position: relative;
}
input , button{
    width: 21.875rem;
    height: 3.125rem;
}
input ,button{
   background-color: transparent;
   border: .0625rem solid #fff;
   border-radius: 5px;
}
button {
    background-color: #fff;
    color: #2148C0;
    font-size: 1rem;
    font-weight: 500;
}
input:focus {
    outline: none;
}
input {
    padding-left: 3.125rem;
}
.parent {
    height: 100vh;
}
.system-title {
    position: relative;
    top: 100px;
}
.login-wrapper{
    width: 18.75rem;
    height: 15.625rem;
}
.email-input,.username-input {
    margin-bottom: 1.375rem;
}
.password-input {
    margin-bottom: 1.375rem;
}
.input-group-user img, .input-group-password img {
    position: absolute;
    left: .9375rem;
    transform: translateY(55%);
}
button {
    transition: all 350ms;
}
button:hover {
    background-color: transparent;
    color: #fff;
    box-shadow: inset 0 0px 5px 4px rgba(0, 0, 0, 0.2)
}
input::placeholder {
    color: #fff;
    font-weight: 250;
}
.login-wrapper > p , a {
    text-decoration: none;
    color: #fff;
    transition: all 300ms;
}
.login-wrapper > p > a:hover {
    color: #d8d8d8;
}
.navbar-btn {
    width: 4.6875rem;
    height: 2.8125rem;
}
.alert {
    border: none;
    background-color: transparent;
    padding: 0;
}
.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .fade-in {
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  